$fontColor = #6e6e6e

fontSize(n)
  font-size (n)
center()
  align-items center
  justify-content center

.icon-flag
  display inline-block
  width 26px
  height 18px
  background-repeat no-repeat
  z-index 10
  background-size 172.5px 786.5px
  border 0.5px solid #f1f1f1